#signup {
	margin-right: 10px;
}

/* User dashboard */

.demo-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.demo-drawer-header {
	margin: 10px;
}

.mdl-mini-footer {
	position:absolute;
	bottom:0;
	width:99%;
	height:20px;   /* Height of the footer */
}

.acumen-header {
	font-size: 30px;
	margin-top: 5px;
	padding-bottom: 20px;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sub-content {
	margin-left: 240px;
}

.demo-card-wide {
	margin: 20px;
	width: 490px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
