.space-btn {
  margin-right: 10px;
}

.socialaccount_provider {
  margin-left: 30%;
  margin-bottom: 10px;
}

#show_btn, #hide_btn {
  float: right;
  position: sticky;
}

#msg-dialog-box {
  height: auto;
  width: 50%;
}

.mdl-dialog {
  width: 50%;
}

.allauth {
  padding-top: 20px;
  padding-bottom: 20px;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*.mdl-grid {
  padding-bottom: 10px !important;
  padding-left: 10px !important;
}*/

#the-sticky-btn {
  position: sticky;
  display: block;
  right: 0;
  bottom: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
  background-color: transparent;
}

#navbar {
  height: 66px;
  background-color: #263338;
  width: 100%;
}

/* stubborn left and right buttons that won't change color!*/

.mdl-layout__tab-bar-left-button, .mdl-layout__tab-bar-right-button, .mdl-layout__tab-bar, .mdl-layout__header {
  background-color: #37474F;
}

/* Side navigation bar  */

.demo-drawer {
  border: none;
  width: auto;
}

.acumen-header {
  font-size: 30px;
  margin-top: 5px;
  padding-bottom: 20px;
}

.demo-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

/* Main Content */

/* Report Create */

.demo-content {
  max-width: 1080px;
}

.demo-card-wide {
  margin: 20px;
  width: 490px;
}

.demo-card-wide>.mdl-card__title {
  min-height: 100px;
  color: #fff;
  height: auto;
  background-color: #37474F;
  font-weight: 500;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}

/* User Settings*/

.profile-section {
  margin-top: 40px !important;
  width: 50%;
  margin: auto;
  text-align: center;
}

.profile-section .mdl-textfield__input {
  font-size: 18px;
}

.profile-section .mdl-textfield__label {
  font-size: 18px;
}

/* Projects */

.project {}

/* Reports */

.report-section {
  background-color: #263338;
}

.report-settings .mdl-textfield {
  width: 100%;
}

/* Profile */

.profile-chips {
  margin-left: 100px;
  margin-bottom: 20px;
}

.profiles>.img {
  width: 50px;
  height: 50px;
}

/* Footer */

.mdl-mini-footer {
  position: absolute;
  top: 100%;
  bottom: 0;
  /*left: 0;*/
  width: 97.6%;
  height: 20px;
  /* Height of the footer */
}
